[Desktop Entry]
Version=1.0
Type=Application
Name=Sky96
GenericName=N64 Emulator
Comment=Nintendo 64 emulator and plugins for Linux, Mac OSX, FreeBSD, and Windows
Exec=sky96 %f
Icon=sky96
MimeType=application/x-n64-rom;
Categories=Game;Emulator;
Keywords=Emulator;Nintendo64;Mupen64plus;
NoDisplay=true
